{% extends "base.html" %}

{% block content %}
<section class="hero">
  <h1 class="hero-title">Statistieken per Volksvertegenwoordiger</h1>
  <p class="hero-subtitle">Bekijk over welke thema’s elk parlementslid het vaakst vragen stelt</p>
</section>

<section class="p-4">
  <div class="container">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th>Naam</th>
            <th>Populairst Thema</th>
            <th>Aantal</th>
            <th>2e Thema</th>
            <th>Aantal</th>
            <th>3e Thema</th>
            <th>Aantal</th>
            <th>Laatste Vraag</th>
          </tr>
        </thead>
        <tbody>
        {% for p in data %}
            <tr>
                <td class="fw-bold">{{ p.naam }}</td>
                <td>{{ p.populair or "—" }}</td>
                <td>{{ p.pop_count }}</td>
                <td>{{ p.tweede or "—" }}</td>
                <td>{{ p.tweede_count }}</td>
                <td>{{ p.derde or "—" }}</td>
                <td>{{ p.derde_count }}</td>
                <td>{{ p.laatste_vraag or "—" }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}